<!doctype html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="page-container">
      <%- include('./partials/nav.ejs') %>
      <div class="not-found content">404, page not found</div>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
